.page {
  height: 100vh;
}

.main {
  --page-offset: 0px;
  position: relative;
  display: flex;
  height: var(--height-main);
  background: var(--bg-lt-gray);
  color: var(--text-normal);
  overflow: hidden;
}

.content {
  position: absolute;
  left: calc(0px + var(--page-offset));
  height: 100%;
  width: 100%;
}

.left {
  position: absolute;
  left: calc(-30px + var(--page-offset));
  width: 30px;
  height: 100%;
  background-image: linear-gradient(to left, var(--bg-lt-gray), var(--bg-dk-gray));
}

.right {
  position: absolute;
  right: calc(-1 * (var(--width-arrow) + var(--page-offset)));
  width: 30px;
  height: 100%;
  background-image: linear-gradient(to right, var(--bg-lt-gray), var(--bg-dk-gray));
}
