.main {
  display: flex;
  align-items: center;
  height: var(--height-header);
  padding: 16px;
  background: var(--bg-white);
  color: var(--text-header);
  font-size: var(--size-header);
}

.link {
  padding: 0;
  border: none;
  margin-right: 0.2em;
}

.version {
  color: var(--text-label);
  font-size: var(--size-version);
}
