.main {
  position: relative;
  display: flex;
  justify-content: center;
  height: var(--height-meal);
  margin: 80px 16px;
  /*
  margin: 8px 16px;
  */
  border-radius: 8px;
  background: var(--bg-white);
  /*
  overflow: hidden;
  */
}

.label {
  position: absolute;
  left: 6px;
  top: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
  color: #808080;
}


.namesWrap {
  position: relative;
  height: inherit;
  /*
  overflow: hidden;
  */
  border: 1px solid #80c0ff;
  box-sizing: border-box;
}

.names {
  position: relative;
  top: 0px;
  box-sizing: border-box;
  /*
  */
  border: 1px dotted red;
}

.name {
  box-sizing: border-box;
  height: var(--height-meal);
  line-height: var(--height-meal);
}
