.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.buttonRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 16px 0 16px;
}

.rollButton {
  font-size: var(--size-big);
  background: var(--bg-gold);
  border: 1px solid #ffef00;
}

.favoritesTitle {
  padding: 4px 8px;
  margin-top: 16px;
  font-size: var(--size-title);
  background: var(--bg-md-gray);
}

.favorites {
  height: 100%;
  border: 1px solid var(--border-lt);
  border-top: 0;
  border-radius: 0 0 8px 8px;
  margin: 0 16px 16px 16px;
  overflow-y: scroll;
}

.favorite {
  display: inline-block;
  height: var(--height-meal);
  padding: 0 16px;
  border-radius: 8px;
  margin: 4px 4px 0 0;
  background: var(--bg-white);
  line-height: var(--height-meal);
}

.selected {
  color: var(--text-white);
  background: var(--bg-gold);
}

.version {
  font-size: 10px;
  margin-left: 16px;
}
