.main {
}

.buttonRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 16px 0 16px;
}

.rollButton {
  font-size: var(--size-big);
  background: var(--bg-gold);
  border: 1px solid #ffef00;
}

