:root {
  --bg-white: #ffffff;
  --bg-lt-gray: #e8e8e8;
  --bg-md-gray: #d0d0d0;
  --bg-dk-gray: #787878;
  --bg-gold: #c0b000;
  --bg-overlay: #00000040;
  --text-normal: #484848;
  --text-header: #585858;
  --text-label: #808080;
  --text-set: #202020;
  --text-favorite: #a09000;
  --text-white: #ffffff;
  --border: #d8d8d8;
  --border-lt: #dcdcdc;
  --size-normal: 16px;
  --size-big: 26px;
  --size-header: 5vh;
  --size-version: 10px;
  --size-label: 11px;
  --size-title: 20px;
  --height-header: 7%;
  --height-main: 93%;
  --height-meal: 2rem;
  --width-arrow: 30px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: var(--size-normal);
}

button {
  padding: 4px 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background: var(--bg-white);
}

button:disabled {
  color: red;
}

input[type=text] {
  padding: 4px 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background: var(--bg-white);
}
