:root {
  --bg-white: #ffffff;
  --bg-lt-gray: #e8e8e8;
  --bg-dk-gray: #787878;
  --text-normal: #484848;
  --text-header: #585858;
  --border: #d8d8d8;
  --size-normal: 16px;
  --size-header: 6vh;
  --height-header: 10%;
  --height-main: 90%;
  --width-arrow: 30px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: var(--size-normal);
}

button {
  padding: 4px 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background: var(--bg-white);
}

button:disabled {
  color: red;
}

input[type=text] {
  padding: 4px 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background: var(--bg-white);
}
